<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - My Telerik MVC Application</title>
        @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.default.min.css")" rel="stylesheet" type="text/css" />*@
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.material.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
